<header class="header">
    <img class="header__logo" src="https://img.freepik.com/vetores-gratis/vetor-de-design-de-gradiente-colorido-de-passaro_343694-2506.jpg" alt="logo">
    <nav>
        <ul class="header__nav">
            <li class="header__nav__item">
                <a href="">About</a>
            </li>
            <li class="header__nav__item">
                <a href="">Services</a>
            </li>
            <li class="header__nav__item">
                <a href="">Tutorials</a>
            </li>
        </ul>
    </nav>
    <div class="header__actions">
        <app-button label="Login"></app-button>
        <app-button label="Sign up" variant="outline"></app-button>

    </div>
</header>
